* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}


.terms {
    padding: 50px;
    
    border: 10px solid #000;
    display: flex;
}

.terms span {
    font-weight: 700;
}

.terms_block {
    overflow-y: auto;
    height: calc(100vh - 315px);
    margin-bottom: 14px;
    padding-right: 5px;
}

.page_logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.terms_title {
    margin-top: 50px;

    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.terms_description {
    margin-left: 100px;
}

.terms_text {
    margin-top: 50px;

    font-size: 20px;
}

.terms_subtext {
    font-size: 20px;
}

.terms_list {
    padding: 0;
    
    list-style: inside decimal;
}

.terms_item {
    margin-bottom: 20px;

    font-size: 20px;
}

.terms_item:last-child {
    margin-bottom: 0;
}

.terms_button {
    text-transform: uppercase;
    background-color: inherit;
    display: block;
    margin-left: auto;

    outline: none;

    font-size: 20px;

    cursor: pointer;
    padding: 15px 125px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Media */

@media (max-width: 1200px) {
    .terms {
        height: auto;
        padding: 40px;
    }
    .page_logo {
        height: 200px;
        height: 200px;

        max-width: auto;
    }
    .terms_title {
        margin-top: 0;
    }
    .terms_button {
        margin-top: 89px;
    }
}


@media (max-width: 992px) {
    .terms {
        padding: 25px;
    }
    .page_logo {
        width: 200px;
        height: 200px;
    }
    .terms_title {
        margin-top: 0;
    }
    .terms_block {
        height: calc(100vh - 216px);
    }
    .terms_button {
        margin-top: 30px;
        padding: 10px 50px;
    }
}

@media (max-width: 768px) {
    .terms {
        border: 7px solid #000;
        padding: 10px;
        display: flex;
    }
    .content {
        margin-left: 50px;
    }
    .page_logo {
        max-height: 150px;
        min-width: 150px;
        display: block;
        margin: 0 auto;
    }
    .terms_title {
        margin-top: 25px;
    }
    .terms_text {
        margin-top: 25px;
        font-size: 15px;
    }
    .terms_subtext {
        font-size: 15px;
    }
    .terms_item {
        font-size: 15px;
    }
    .terms_description {
        margin-left: 0;
    }
    .terms_button {
        margin-top: 30px;
    }
    
}

@media (max-width: 576px) {
    .terms {
        display: block;
        border: 5px solid #000;
        padding: 10px;
    }
    .page_logo {
        max-width: 100px;
        height: auto;
    }
    .terms_description {
        margin-left: 0;
    }
    .terms_title {
        margin-top: 20px;
    }
    .terms_text {
        margin-top: 0;
        font-size: 12px;
    }
    .terms_subtext {
        font-size: 12px;
    }
    .terms_item {
        font-size: 12px;
    }
    .terms_block {
        height: calc(100vh - 330px);
    }
    .terms_button  {
        display: block;
        margin: 0 auto;
    }
    .content {
        margin: 0 20px;
    }
}

@media (max-width: 320px) {
    .terms_title {
        margin-top: 20px;
        text-align: center;
    }
    .content {
        margin: 0;
    }
    .terms_description {
        margin-bottom: 15px;
    }
    .terms_item {
        margin-bottom: 10px;
    }
    .page_logo {
        height: auto;
        max-width: auto;
        display: block;
        margin: 0 auto;
    }
    .terms_button {
        padding: 5px 25px;
        margin: 10px auto;
    }
}